---
const { link, text, aria_label } = Astro.props;
---

<a
  class="underline decoration-transparent transition hover:decoration-gunmetal dark:hover:decoration-ivory"
  href={link}
  aria-label={aria_label}
>
  {text}
</a>
