<h2>nelfetch</h2>
<div class="flex flex-col gap-4 md:flex-row">
  <!-- <div class="h-[358px] w-[358px] overflow-hidden"> -->
  <!--   <img -->
  <!--     alt="me" -->
  <!--     src="me.png" -->
  <!--     class="m-[-27px] box-content aspect-square h-[352px] w-[352px] border-[30px] border-dashed" -->
  <!--   /> -->
  <!-- </div> -->
  <img
    alt="A picture of me and my dog, Roxy"
    src="me.png"
    class="aspect-square object-cover pr-[38px] dark:saturate-[0.8] md:pr-0"
  />
  <ul>
    <li>nel@astro</li>
    <li>---------</li>
    <li>OS: macOS, Asahi Linux, Crystal Linux</li>
    <li>WM: yabai, sway</li>
    <li>Terminal: kitty</li>
    <li>
      Editor:{" "}
      <a href="https://github.com/imNel/dotfiles/tree/main/.config/nvim">
        neovim
      </a>
    </li>
    <li>Favourite Languages: TypeScript, Lua, Kotlin</li>
    <li>Favourite Libraries: Astro, Tailwind, Solid, tRPC, React</li>
  </ul>
</div>
