---
import FetchLink from "./FetchLink.astro";
---

<h2>nelfetch</h2>
<div class="flex gap-4">
  <!-- <div class="h-[358px] w-[358px] overflow-hidden"> -->
  <!--   <img -->
  <!--     alt="me" -->
  <!--     src="me.png" -->
  <!--     class="m-[-27px] box-content aspect-square h-[352px] w-[352px] border-[30px] border-dashed" -->
  <!--   /> -->
  <!-- </div> -->
  <img alt="me" src="me.png" class="aspect-square" />
  <ul>
    <li>nel@astro</li>
    <li>---------</li>
    <li>OS: macOS, Asahi Linux, Void Linux</li>
    <li>WM: yabai, sway</li>
    <li>Terminal: WezTerm</li>
    <li>
      Editor:{" "}
      <FetchLink text="neovim" link="https://github.com/imNel/nvim" />
    </li>
    <li>Languages: TypeScript, Lua, Rust (soon)</li>
    <li>Favourite Libraries: Astro, Solid, tRPC, Tailwind, React</li>
  </ul>
</div>
