---
import { ViewTransitions } from "astro:transitions";
import "../../assets/global.css";
import TerminalHeader from "../terminal/TerminalHeader.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>blog | nel@astro</title>
    <link
      href="https://api.fontshare.com/v2/css?f[]=plus-jakarta-sans@400&f[]=zodiak@700&f[]=jet-brains-mono@400&display=swap"
      rel="stylesheet"
    />
    <ViewTransitions />
  </head>
  <body
    class="mx-auto min-h-screen max-w-screen-md bg-ivory p-4 text-gunmetal dark:bg-gunmetal dark:text-ivory"
  >
    <TerminalHeader />
    <slot />
  </body>
</html>
