---
export interface Props {
  title: string;
}

const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";
import "../../assets/global.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? title + " | nel@astro" : "nel@astro"}</title>
    <link
      href="https://api.fontshare.com/v2/css?f[]=plus-jakarta-sans@400&f[]=zodiak@700&f[]=jet-brains-mono@400&display=swap"
      rel="stylesheet"
    />
    <ViewTransitions />
  </head>
  <body
    class="min-h-screen w-full bg-ivory text-gunmetal dark:bg-gunmetal dark:text-ivory"
  >
    <slot />
  </body>
</html>
