---
import Layout from "../layouts/Layout.astro";
import TerminalShell from "../components/terminal/TerminalShell.astro";
---

<Layout title="~">
  <main
    class="mx-auto flex min-h-screen max-w-7xl flex-col items-center justify-center p-5"
  >
    <TerminalShell />
  </main>
</Layout>
