@use "./variables.scss";

.header {
  display: flex;
  height: max-content;
}

.main {
  &_outer {
    border: variables.$border;
    border-left: none;
    border-right: none;
    overflow: hidden;
    &_active {
      border-right: variables.$border;
    }
  }
  width: 100%;
  padding: 0.5em;
  display: flex;
  gap: 20px;

  a {
    text-decoration: none;
    cursor: pointer;
  }
}

.btn {
  min-width: 40px;
  min-height: 40px;
  padding: 0.6em 0.3em;

  border: variables.$border;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  span {
    height: 2px;
    width: 100%;
    background-color: white;
  }
}
