@use "./variables.scss";

$gap: 10px;

.container {
  margin: 0 auto;
  max-width: variables.$max;
  padding: 0 2rem;
}

.feature {
  height: 100vh;
  display: flex;

  align-items: center;
  justify-content: space-between;

  &_list {
    margin: 0;
    flex: 0.5;
    list-style-image: url("/powerline.svg");
    padding-left: 52px;
    li {
      font-size: 2rem;
    }
  }

  &_image {
    --image-size: 350px;
    $gap-size: 10px;
    $border-size: 2px;
    $overflow-size: calc(var(--image-size) + $gap-size * 2 - $border-size * 2);
    $shadow-offset: 10px;

    width: fit-content;

    position: relative;
    margin: 0 $shadow-offset $shadow-offset 0;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--image-size);
      height: var(--image-size);
      overflow: hidden;
      img {
        z-index: 10;
      }
      img,
      div {
        border: $gap-size dashed variables.$primary;
        min-width: $overflow-size;
        min-height: $overflow-size;
      }
    }

    &_bg {
      position: absolute;
      top: $shadow-offset;
      left: $shadow-offset;
    }

    &_caption {
      padding-top: $gap;
      text-align: center;
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: variables.$lg) {
  .feature {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    &_list,
    div {
      flex: unset;
    }
  }
}

@media screen and (max-width: variables.$md) {
  .feature {
    &_list > li {
      font-size: 1.8rem;
    }
    &_image {
      --image-size: 250px;
    }
  }
}

@media screen and (max-width: variables.$sm) {
  .feature {
    &_list > li {
      font-size: 1.4rem;
    }
    &_image {
      --image-size: 250px;
    }
  }
}
